@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #212a3e;
  color: rgb(255, 255, 255, 0.85);
}

a {
  font-weight: 700;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

button {
  border-radius: 8px;
  border: 2px solid #f1d00a;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: rgba(255, 255, 255, 0.87);
//     background-color: #212a3e;
//   }
//   a:hover {
//     color: #535bf2;
//   }
//   button {
//     background-color: #1a1a1a;
//   }
// }
