@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import "./colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: $background;
}

a {
  font-weight: 700;
  color: $links;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: 3px $links solid;
    border-radius: 8px;
  }
}

button,
input,
select {
  font-family: inherit;

  &:focus,
  &:focus-visible {
    outline: 3px solid $border;
    border-radius: 8px;
  }
}

button {
  border-radius: 8px;
  border: 3px solid $border;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 700;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: $border-light;
  }
  &:focus,
  &:focus-visible {
    outline: 3px solid $border-light;
  }
}

ul {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.pokemon-all {
  max-width: 800px;
  margin: auto;
}
